.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #343a40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px; /* Adjust as needed */
  }
  
  .logo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #ff6f61;
    margin: 0;
    margin-left: 20px; /* Adjust spacing */
    font-size: 1.5rem;
  }

  
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #ff6f61;
    color: #ffffff;
  }
  
  .profile-icon img, .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  



